* {
    margin: 0;
    padding: 0;
}

body { 
    width: 100%;
    text-align: center;
}

#answersDiv {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

#highScoreInput {
    display: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 375px;
}

#displayQuestion {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#announcements {
    font-size: 75px;
}

header { 
    text-align: center;
}

#displayTime, #displayWrong, #displayRight {
    font-size: 25px;
}
#questionArea {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#topDisiplay {
    width: 100%;
}

#statsDisplay {
    vertical-align: middle;
    display: flex;
    width: auto;
    justify-content: space-around;
}

#startButton {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

#seeHighScorers {
    margin-left: auto;
    margin-right: auto;
    display: none;
}